<%= simple_form_for(book) do |f| %>


  <div class="field">
    <%= f.association :category %>
  </div>

  <div class="field">
    <%= f.input :title %>
</div>

  <div class="field">
    <%= f.input :author %>
</div>

  <div class="field">
    <%= f.input :image %>
</div>

  <div class="field">
    <%= f.input :info %>
</div>


  <div class="field">
    <%= f.input :featured %>
</div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
